@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");


body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #1c2329, #29051f, #022b12);
  /* Cambié el color de fondo más oscuro en el gradiente */
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 100;
}

.logo img {
  width: 100px; /* Ajusta el tamaño del logo según tu preferencia */
  height: auto;
}



body .container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
body .container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
body .container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
body .container .card .face.face1 img {
  margin: 0;
  padding: 0;
}
body .container .card .face.face1 .java {
  background-color: #f9f990;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .card .face.face1 .python {
  background-color: #7ea9ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .card .face.face1 .cSharp {
  background-color: #ff9393;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .container .card .face.face2 {
  transition: height 0.5s; /* Solo animamos la altura */
  overflow: hidden; /* Ocultamos el contenido que se desborda */
}
body .container .card .face.face2 img {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: font-size 0.5s; /* Animamos solo el tamaño de la fuente */
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 100%; /* Cambiamos esto a 100% para que la imagen se ajuste */
  height: 100%; /* Cambiamos esto a 100% para que la imagen se ajuste */
}
body .container .card:hover .face.face2 {
  height: 60px;
}

body .container .card:hover .face.face2 img {
  font-size: 2em;
}
body .container .card:nth-child(1) .face.face2 {
  background-image: linear-gradient(10deg, #fffc00 0%, #fc00ff 45%, #00fffc 50%);
  border-radius: 15px;
}
body .container .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #fc00ff 0%, #00fffc 45%, #fffc00 100%);
  border-radius: 15px;
}
body .container .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #00fffc 0%, #fc00ff 45%, #fffc00 100%);
  border-radius: 15px;
}